.backer {
    background-image: radial-gradient( rgb(255, 255, 255), rgb(255, 255, 255), rgba(30, 143, 255, 0.564),  white, white);
    
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    width: 100%;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main {
    margin: 0;
    padding: 0;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    padding: 0;
    width: 100%;
}

.jumbotron {
    background-image: url(../assets/bluebrick.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Major Mono Display';
    font-size: xx-large;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    text-align: center;
    align-content: center;
}

h1 {
    background-color: rgba(9, 39, 137, 0.629);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    justify-content: center;
}

h2 {
    color: navy;
    background-color: rgba(240, 248, 255, 0.6);
    font-family: 'mooli';
    font-size: xx-large;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
}

.skills {
    background-color: dodgerblue;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 25px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid white;
    width: 400px;
    height: 400px;
    margin-top: 20px;
   
}

.skill-long {
    background-color: dodgerblue;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid white;
    width: fit-content;
    height: fit-content;
   margin-top: 75px;
   margin-right: 25px;

}

.list {
    padding: 30px;
    text-align: left;
    list-style-type: none;
    color: white;
    font-size: larger;
    font-family: 'mooli';
}



.list2 {
    padding: 30px;
    text-align: left;
    list-style-type: none;
    color: white;
    font-size: larger;
    font-family: 'mooli';
    
}

ul {
    width: 80%;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

li {
    padding: 8px;
    background-color: rgba(0, 98, 255, 0.633);
    border-radius: 12px;
    margin: 5px;
    width: 90%;
}

li:hover,
ol:hover {
    scale: 1.1;
    background-color: rgba(255, 255, 255, 0.644);
    color: navy;
}

ol {
    text-align: center;
    color: aliceblue;
    font-size: large;
    font-family: 'dosis';
    padding: 3px;
    border-radius: 10px;
    width: 90%;
}

.skills li {
    font-size: small;
}

.skill-long li {
    font-size: large;
}



.timeline {
    width: min-content;
    margin-top: 50px;
    align-items: baseline;

    
}

img {
    max-width: 550px;
    border-radius: 25px;
    border: 2px solid white;
    filter: opacity(50%);
    margin: 25px;
}

img:hover {
    scale: 1.1;
    transition: .5s;
    filter: none;
   
}

.footer {
    
}

.adj {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  
}

.row {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.contact {
    font-size: 50px;
   
    
}

.fa-solid {
    font-size: 75px;
}

.contact a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.contact a:hover {
    scale: 1.1;
    color: navy;
    transition: 0.3s;
}

.jumbotron h2 {
    background-color: transparent;
    font-family: 'space grotesk';
    color: aliceblue;
    font-size: 40px;
    padding-top: 0;
    margin-top: 0;
}

.headshot {
    filter: grayscale(20%) opacity(90%);
    width: 100%;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.profile-container {
    width: 100%;
}

.profile {
    font-size: x-large;
    font-family: 'dosis';
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 12px;
}

.profile:hover {
    font-size: xx-large;
    transition: ease-in 0.3s;
}

@media screen{
    
}